/** @format */

h1 {
  text-align: center;
  color: blueviolet;
  padding-top: 40px;
}

img {
  display: block;
  margin: 0 auto;

  width: 50%;
  border-radius: 10px;
}

.btn {
  display: block;
  margin: 0 auto;
}
