/** @format */

h1 {
  text-align: center;
  color: blueviolet;
  padding-top: 20px;
}

img {
  display: block;
  margin: 0 auto;

  width: 50%;
  border-radius: 10px;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}
